<div>
    <label>Име:</label>
    <input type="text" [(ngModel)]="profile.userInfo.firstName" [disabled]="!isEditing"/>
    <label>Презиме:</label>
    <input type="text" [(ngModel)]="profile.userInfo.lastName" [disabled]="!isEditing"/>
    <label>Пол:</label>
    <input type="text" [(ngModel)]="profile.userInfo.gender" [disabled]="!isEditing"/>
    <label>Датум рођења:</label>
    <input type="text" [(ngModel)]="profile.userInfo.birthday" [disabled]="!isEditing"/>
    <label>Локација:</label>
    <input type="text" [(ngModel)]="profile.userInfo.location" [disabled]="!isEditing"/>
    <label>Е-mail:</label>
    <input type="text" [(ngModel)]="profile.userInfo.email" [disabled]="!isEditing"/>
    <label>Корисничко име:</label>
    <input type="text" [(ngModel)]="profile.userInfo.username" [disabled]="!isEditing"/>
    <label>Биографија:</label>
    <input type="text" [(ngModel)]="profile.userInfo.bio" [disabled]="!isEditing"/>
    <label>Датум креирања:</label>
    <input type="text" [(ngModel)]="profile.userInfo.dateOfCreation" [disabled]="!isEditing"/>
    <button (click)="SaveInfoChanges()" *ngIf="isEditing">Сачувај промене</button>
    <button (click)="CancelEditInfo()" *ngIf="isEditing" >Откажи</button>
    <div *ngIf="isChangingPassword">
    <label>Стара лозинка:</label>
    <input type="password" [(ngModel)]="oldPassword" *ngIf="isChangingPassword"/>
    <label>Нова лозинка:</label>
    <input type="password" [(ngModel)]="newPassword" *ngIf="isChangingPassword"/>
    <label>Потврда нове лозинке:</label>
    <input type="password" [(ngModel)]="confirmPassword" *ngIf="isChangingPassword"/>
    <button (click)="SavePasswordChanges()" *ngIf="isChangingPassword">Сачувај промене</button>
    <button (click)="CancelChangePassword()" *ngIf="isChangingPassword">Откажи</button>
    </div>
    <label>Слика:</label>
    <img class="profilePicture" [src]="profilePicture" alt="Profile Picture" />
    <input type="file" (change)="UploadPicture($event)" *ngIf="isChangingPicture"/>
    <button (click)="SavePictureChanges()" *ngIf="isChangingPicture">Сачувај промене</button>
    <button (click)="CancelChangePicture()" *ngIf="isChangingPicture">Откажи</button>
    <button  *ngIf="!isEditing" (click)="ChangeUserInfo()">Измени податке</button>
    <button (click)="ChangePassword()" *ngIf="!isChangingPassword">Измени лозинку</button>
    <button (click)="ChangePicture()" *ngIf="!isChangingPicture">Измени слику</button>
    <label>Статистика:</label>
    <label>Лајкови:</label>
    <label>{{profile.userStatistics.numberOfLikes}}</label>
    <label>Пратиоци:</label>
    <label>{{profile.userStatistics.numberOfFollowers}}</label>
    <label>Просечна оцена:</label>
    <label>{{profile.userStatistics.averageRating}}</label>
    <label>Број објављених рецепта:</label>
    <label>{{profile.userStatistics.numberOfRecipes}}</label>
    <label>Омиљени рецепти:</label>
    <label>{{profile.userStatistics.numberOfFavorites}}</label>
    <button (click)="ShowRecipeImages()">Види све слике:</button>
    <div *ngIf="showRecipeImages">
        <div (click)="ShowRecipeDetails(recipeImage.recipeId)" *ngFor="let recipeImage of recipeImages">
            <img [src]="'data:image/jpeg;base64,' + recipeImage.imageBase64" alt="Recipe Image"/>
            <p>Date: {{recipeImage.dateUploaded}}</p>
        </div>
        <button *ngIf="hasMorePictures" (click)="GetMorePictures()">Учитај још слика:</button>

    </div>
    

    <label>Титула</label>
    <label>Назив:</label>
    <label>{{profile.title.name}}</label>
    <label>Датум освајања:</label>
    <label>{{profile.title.aquiredDate}}</label>
    <label>Број трофеја:</label>
    <label>{{profile.title.numberOfCompletedAchievements}}</label>
    <label>Следећа титула:</label>
    <label>{{profile.title.nextTitleName}}</label>
    <label>Минимални број трофеја:</label>
    <label>{{profile.title.currentTitleRequirement}}</label>
    <label>Потребан број трофеја:</label>
    <label>{{profile.title.nextTitleRequirement}}</label>

    <label>Тренутне награде:</label>
    <label>Број дозвољених промоција:</label>
    <label>{{profile.currentPromotionReward.postsToPromote}}</label>
    <label>Дужина трајања промоције:</label>
    <label>{{profile.currentPromotionReward.durationInDays}}</label>
    <label>Интервал ресета:</label>
    <label>{{profile.currentPromotionReward.intervalInDays}}</label>
    <label>Следеће награде:</label>
    <label>Број дозвољених промоција:</label>
    <label>{{profile.nextPromotionReward.postsToPromote}}</label>
    <label>Дужина трајања промоције:</label>
    <label>{{profile.nextPromotionReward.durationInDays}}</label>
    <label>Интервал ресета:</label>
    <label>{{profile.nextPromotionReward.intervalInDays}}</label>
    <button (click)="ShowAchievements()">Трофеји</button>
    <div *ngIf="showAchievements===true">
        <div *ngFor="let userAchievement of userAchievements;let i=index">
            <p>{{i+1}}</p>
            <label>Трофеј:</label>
            <p>{{userAchievement.achievement.name}}</p>
            <label>Опис:</label>
            <p>{{userAchievement.achievement.description}}</p>
            <label>Датум освајања:</label>
            <p>{{userAchievement.aquiredDate}}</p>
            <label>Скупљени поени:</label>
            <p>{{userAchievement.pointsCollected}}</p>
            <label>Потребни поени:</label>
            <p>{{userAchievement.achievement.pointsNeeded}}</p>
            <label>Иконица:</label>
            <img [src]="'data:image/jpeg;base64,'+userAchievement.achievement.iconBase64" alt="Achievement Icon"/>
            <label>Тип задатка:</label>
            <p>{{userAchievement.achievement.requirementType}}</p>  
            </div>
        </div>



</div>
